@model IEnumerable<DataLayer.PageGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" id="btnNewGroup">افزودن گروه جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GroupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GroupID })
            </td>
        </tr>
    }

</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/modal.js"></script>
@section scripts{
<script>
    $("#btnNewGroup").click(function () {
        $.get("/Admin/PageGroups/Create", function (result) {
            $("#myModal").modal();
            $("#myModalLabel").html("افزودن گروه جدید");
            $("#myModalBody").html(result);
        });
    });
</script>
}
